
body{
    font-family: 'Montserrat', sans-serif; 
}

.navbar-brand{
    font-size: 3rem;
    font-family: "ubuntu",'Montserrat-black', sans-serif;   
}

.navbar-item{
    font-size: 3rem;

}

.container-fluid{
    padding: 3% 15% ;
}

h1{
    font-size: 2.7rem;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 900;
}

.navbar{
    padding-bottom: 4rem;
}
#title{
    color: white;
    background-color:#ff4c68 ;
}
.download{
    margin: 5% 5% 5% 0;
}

.imgintro{
    transform: rotate(25deg);
    width:40% ;
    margin: auto;
    display: block;

}

.icons{
    margin: auto;
    color: #ff4c68;

}
.icons:hover{
    color: #e42744;
}


h5{
    color: gray;
    font-size: medium;
}

.padintro{
    padding: 40px 0px ;
    margin: auto;
    display: block;
}
.descripicon{
    padding: 60px 20px ;

    text-align: center;
    line-height: 2.5;
}